{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_javascript %}
{% block title %}Мои статьи{% endblock %}

<!-- {% block slider %}
{% endblock %} -->

{% block content %}

<!-- Delicious area start  -->
<div class="Delicious_area">
    {% if total != 0 %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-30">
                    <h3>Все мои новости</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <label><h2> Фильтры: (Всего: {{ total }} результатов) </h2>
                        <form method="post">
                            {% csrf_token %}
                                    <div class="form-group col-11">
                                        <select class="form-select" name="category_filter" style="width:80%">
                                            <option value="0">Все категории</option>
                                            {% for c in categories %}
                                            <option value="{{ forloop.counter }}" {% if category_filter == forloop.counter %} selected {% endif %}> {{ c.1 }}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <button class="buttn2 boxed-button2 my-2 my-sm-0" type="submit">Применить</button>
                                    </div>
                        </form>
                    </label>
 <!--    ниже пагинатор -->

                {% if total > 6 %}
                    <div class="container mx-auto">
                        <div class="row ">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination1">  <!--  blog-pagination  -->
                                    {% if articles.has_previous %}
                                        <li class="page-item1"><a class="page-link1" href="?page={{ articles.previous_page_number }}"> << </a></li>
                                    {% endif %}
                                    {% for p in articles.paginator.page_range %}
                                        {% if articles.number == p %}
                                            <li class="page-item1"><p class="page-link1" style="color:black;"> {{ p }}</p></li>
                                        {% else %}
                                            <li class="page-item1"><a class="page-link1" href="?page={{ p }}"> {{ p }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if articles.has_next %}
                                        <li class="page-item1"><a class="page-link1" href="?page={{ articles.next_page_number }}"> >> </a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% include 'news/news_random_main.html' with articles=articles %}
    </div>
    {% else %}
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-30">
                        <h3>Вы еще не написали ни одной новости из выбранной категории.</h3>
                        <a class="buttn2 boxed-button2 my-2 my-sm-0" href="{% url 'my_news_list' %}">Назад</a>
                        <a class="buttn2 boxed-button2 my-2 my-sm-0" href="{% url 'news_create' %}">Хотите создать?</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
