{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Создание статьи {% endblock %}

{% block content %}
<div class="Delicious_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>Создание статьи</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row me-5">
            <div class="col-md-12 col-lg-12">
                <h4 class="mb-3">Основные данные</h4>
                <!-- в обязательном порядке указываем enctype-->
                <form class="needs-validation" novalidate="" method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ image_form|crispy }}
                    <input type="submit" class="btn btn-primary" value="Сохранить">
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}