{% extends 'main/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block title %} Создание статьи {% endblock %}

{% block content %}
<div class="Delicious_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>Удалить {{ article.title }}?</h3>
                    <form method="post" class="contact_form">
                        {% csrf_token %}
                        <a class="btn btn-warning" href="{% url 'news_index' %}">Отмена</a>
                        <input type="submit" class="btn btn-danger" value = "Удалить">
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}