<div class="row">
    {% for article in articles %}
        <div class="col-xl-6 col-md-6 col-lg-6">
            <a href="{{ article.get_absolute_url }}">
            <div class="single_delicious d-flex align-items-center">
                <div class="thumb">
                    {% if article.image_set.all %}
                        <img class="d-block" src="{{ article.image_set.all.0.image.url }}" alt="{{ article.title }}">
                    {% else %}
                        <img class="d-block" src="/media/default_article_img.png" alt="{{ article.title }}">
                    {% endif %}
                </div>
                <div class="info">
                    {% if article.title|length > 35 %}
                        <h3>{{ article.title|slice:":35" }}...</h3>
                    {% else %}
                        <h3>{{ article.title }}</h3>
                    {% endif %}
                    {% if article.anouncement|length > 50 %}
                        <h4>{{ article.anouncement|slice:":50" }}...</h4>
                    {% else %}
                        <h4>{{ article.anouncement }}</h4>
                    {% endif %}
                    <h5>Просмотры: {{ article.get_views }}</h5>
                    <h5><span>{{ article.date_edit }}</span></h5>
                    {% if article.status == False %}
                        <h5>Неопубликована</h5>
                    {% endif %}


                    {% comment %}

                    {% if request.user.id %}
                        <a href="{% url 'favorites' article.pk %}" class="buttn2 boxed-button2 my-5 my-sm-0">В избранное</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="buttn2 boxed-button2 my-2 my-sm-0">В избранное</a>
                    {% endif %}

                    {% endcomment %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>